!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Tutonic | Sign in
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %meta{:content => "authenticity_token", :name => "csrf-param"}/
      %meta{:content => "URewYqevZ4k+RlNPK+/P0A9mGsE2YD4aTdbGhL1WMV4=", :name => "csrf-token"}/
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .container
      = render "shared/header_login"
      .clear
      %section#gridSystem
        .row.show-grid
          .span1 
          .span1 
          .span1 
          .span1 
          .span1 
          .span1 
          .span1 
          .span1 
          .span1 
          .span1 
          .span1 
          .span1 
        .row.show-grid
          .span4 
          .span4 
          .span4 
        .row.show-grid
          .span4 
          .span8 
        .row.show-grid
          .span6 
          .span6 
        .row.show-grid
          .span5.offset4.center.align-content
            = yield
    .center
      = render 'shared/footer_login'

